h1 {
  text-align: center;
}

.line {
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid #000;
}

.aboutUs-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
}

.aboutUs-text {
  margin-right: 5px;
  font-size: 18px;
}

.owner-image {
  width: 35%;
}

@media screen and (max-width: 480px) {
  .aboutUs-box {
    flex-direction: column;
  }
  .aboutUs-text {
    font-size: 16px;
  }
  .owner-image {
    width: 100%;
  }
}
