.big-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.cupcake-container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: max-content;
}

.inside-image {
  width: 400px;
  height: auto;
}

.cupcake-name {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #59322c;
  font-size: 20px;
  text-align: center;
}

.cupcake-price {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.cupcake-order-container {
  display: flex;
  flex-direction: column;
}

.select-block {
  margin-bottom: 20px;
}

.select-options {
  display: flex;
  flex-wrap: wrap;
}

.select-options button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.block {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-button {
  width: max-content;
}

.submit-button button {
  padding: 10px;
  background-color: #f9bec2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: #4caf50;
}

.line {
  margin: 10px auto;
  width: 50%;
  border-top: 1px solid #000;
}

.like-heading {
  margin: 20px;
  text-align: center;
  font-weight: 500;
}
