.select-block {
  text-align: center;
}

.select-options {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.options-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.options-row button {
  margin: 0 5px 10px;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #59322d;
  cursor: pointer;
}

.options-row button:hover {
  background-color: #f9bec2;
  color: #ffffff;
}

.options-row button.active {
  background-color: #f9bec2;
  color: #ffffff;
}

.block {
  text-align: center;
}

.submit-button {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.submit-button button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #f9bec2;
  border: none;
  color: #fff;
  cursor: pointer;
}

.submit-button button:hover {
  background-color: #4caf50;
}

.line {
  margin: 10px auto;
  width: 50%;
  border-top: 1px solid #000;
}

.like-heading {
  margin: 20px;
  text-align: center;
  font-weight: 500;
}
